/**
 * 1. Provide background image to center and adjust to window size
 *
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */
@media (max-height: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/base\/_1html\.scss}line{font-family:\000039}}
  html {
    background-image: url('../images/page-phone-landscape.jpg?1392684766'); } }
@media (min-height: 501px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/base\/_1html\.scss}line{font-family:\000039}}
  html {
    background-image: url('../images/page-tablet-landscape.jpg?1392684752'); } }
@media (min-height: 801px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/base\/_1html\.scss}line{font-family:\000039}}
  html {
    background-image: url('../images/page-screen-small.jpg?1392684720'); } }
@media (min-height: 1201px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/base\/_1html\.scss}line{font-family:\000039}}
  html {
    background-image: url('../images/page-screen-medium.jpg?1392684738'); } }
@media (min-height: 1601px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/base\/_1html\.scss}line{font-family:\000039}}
  html {
    background-image: url('../images/page-screen-large.jpg?1392684747'); } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/base\/_1html\.scss}line{font-family:\0000333}}
html {
  /* 1 */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left left;
  background-size: cover;
  /* 2 */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

/* Tabs Styles*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\000033}}
.tabs a {
  background-color: transparent;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\000036}}
  .tabs a.active {
    background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\000037}}
  .tabs a:hover {
    background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\000038}}
  .tabs a:focus {
    background-color: transparent; }

/* Primary Tabs */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\0000313}}
.tabs--primary {
  margin-bottom: 0em;
  border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\0000316}}
  .tabs--primary a {
    padding: 0em 0em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\0000320}}
  .tabs--primary.links--inline li {
    border: 1px solid #076fe4;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #8ebcf1;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    background-color: #4294f0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
    background-image: -webkit-linear-gradient(#4294f0, #0776f3);
    background-image: linear-gradient(#4294f0, #0776f3);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #0065d6;
    background-clip: padding-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\0000321}}
    .tabs--primary.links--inline li a {
      color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\0000323}}
      .tabs--primary.links--inline li a:hover {
        color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\0000324}}
      .tabs--primary.links--inline li a:focus {
        color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/bourbon\/addons\/_button\.scss}line{font-family:\0000379}}
    .tabs--primary.links--inline li:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 #60a2ec;
      cursor: pointer;
      background-color: #2f87ea;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
      background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
      background-image: linear-gradient(#2f87ea, #086fe3); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/bourbon\/addons\/_button\.scss}line{font-family:\0000395}}
    .tabs--primary.links--inline li:active:not(:disabled) {
      border: 1px solid #076fe4;
      box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/bourbon\/addons\/_button\.scss}line{font-family:\0000338}}
    .tabs--primary.links--inline li:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

/* Secondary Tabs */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/components\/_navigation\.scss}line{font-family:\0000333}}
.tabs--secondary a {
  padding: 0em 0em;
  margin: 0em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/brc-omega-subtheme\.styles\.scss}line{font-family:\0000329}}
.l-main {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000318}}
  .l-main:before, .l-main:after {
    content: " ";
    display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/bourbon\/addons\/_clearfix\.scss}line{font-family:\0000323}}
  .l-main:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/brc-omega-subtheme\.styles\.scss}line{font-family:\0000333}}
.l-region--sidebar-first {
  width: 23.40426%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Shared\/Wickwood-LLC\/Wickwood-Marketing\/Drupal\/Distributions\/BOA-make-test\/wwm-site-starter-drupal-7-2\.15\/sites\/brc-org\/themes\/brc_omega_subtheme\/sass\/brc-omega-subtheme\.styles\.scss}line{font-family:\0000337}}
.l-content {
  width: 74.46809%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
